$primaryColor: #203f7d;
$primaryText: #798cb0;
$secondaryColor: #39cccc;
$tableColor: #545f7d;

*{
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}