
@media (min-width: 768px) {
    .login {
        flex-direction: row;

        &_firstSection {
            width: 50%;

            .login_img img {
                width: 100%;
            }
        }

        &_formSection {
            width: 50%;

            &_form {
                button {
                    width: 85%;
                }
            }
        }
    }
}