
@media (min-width: 768px) {
    .flex-config {
        display: flex;
        align-items: center;
    }

    // =========== Login page
    .login {
        flex-direction: row;

        &_firstSection {
            width: 55%;

            .login_img img {
                width: 100%;
            }
        }

        &_formSection {
            width: 50%;

            &_form {
                button {
                    width: 85%;
                }
            }
        }
    }

    // =============== Navbar section
    .nav {
        @extend .flex-config;
        justify-content: space-between;
        padding: 10px 30px;
    
        .firstSection {
            @extend .flex-config;
            justify-content: center;
            gap: 8rem;
            height: 40px;
            width: auto;
    
            .searchSection {
                @extend .flex-config;
    
                input {
                    display: block;
                    border: 1px solid #e4e7f0;
                    padding: 10px 25px;
                    width: 344px;
                    outline: 0;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
    
                .searchiconWrapper {
                    background-color: $secondaryColor;
                    padding: 8px 15px;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }
    
        .secondSection {
            @extend .flex-config;
            gap: 30px;
    
            Link {
                color: $secondaryColor;
            }
    
            .profile {
                @extend .flex-config;
                gap: 20px;
    
                &-img img {
                    border-radius: 100%;
                }
            }
    
        }

        .navMobile {
            display: none;
        }
    }
}